*{
    box-sizing:border-box;
}
#app{
    border:1px solid black;
    width:500px;
    height:500px;
    font-weight:bold;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;

}
.header{
    display: flex;
    align-items: center;
    background-color: #222;
}
.header > *{
    color:#eee;

}

.header__turn{
    padding:12px;
}

.header__status{
    padding:12px;
    flex-grow:1;
    text-align: center;

}
.header__restart{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background:none;
    cursor: pointer;

}
.board{
    display:grid;
    gap:10px;
    flex-grow:1;
    padding: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    background-color: #ccc;;

}
.board__tile{
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-family: cursive;
    color:#222;
}
.board__tile:hover{
    background:#eee;
}

.board__tile--winner{
    color: green;

}